{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static "index_styles.css" %}">
</head>
<body>

    <dev class="navbar">
        <ul class="navbar-links">
            <li><a href="http://localhost:8000">Home</a></li>
            <li><a href="http://localhost:8000/admin">Admin</a></li>
            <li><a href="http://localhost:8000/employees">Employees</a></li>
        </ul>
    </dev>
    <div class="body-style">
        <p>This is the home page</p>

    </div>


</body>
</html>