{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DRH store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=" {% static 'styles.css' %}">
    </head>
    <body>
        <ul class='home-page'>
            <h1>EMPLOYEES</h1>
            {% if obj %}
                {% for employee in obj %}
                    <ul class='person-tab'>
                        <li>{{ employee.name }}</li> 
                        <li>{{ employee.gender }}</li>    
                        <li>{{ employee.age }}</li>
                        <li>{{ employee.salary }}</li>
                        <li>{{ employee.position }}</li>    

                    </ul>
                {% endfor %}
            {% else %}
                <h1>HELLO WORLD</h1>
            {% endif %}

        </ul>
        <script src="" async defer></script>
    </body>
</html>