body{
    background-color: #0a0d25;
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

.person-tab{
    display: inline-block;
    background-color: #1f005b;
    border-radius: 10px;
    border-style: none;
    list-style: none;
    padding: 15px;
    margin: 10px;
}
li{
    padding: 2px;
}